<div id="header-region"></div>
<div id="main-region"></div>
<div id="footer-region"></div>

<%= javascript_tag do %>
    $(function() {
        App.start();

        // if the current route fragment is not our index, than we want to route to that fragment
        var fragment = Backbone.history.getFragment();
        App.router.navigate("", {replace: true, trigger: false}); // replace so that we don't break back button
        App.router.navigate(fragment, {trigger: true});
    });
<% end %>
