/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    background-color: rgba(246, 246, 239, 1);
    font-family: Verdana, Geneva, sans-serif;
    margin: 0px;
}

.story_title {
    color: #000000;
}

a {
    text-decoration: none;
    color: black;
}

#header-region {
    width: 100%;
    background-color: rgba(255, 102, 0, 1);
    padding: 2px;
}

#header-region span {
    display: block;
    width: 100%;
}

#hn_logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align:center;
    vertical-align:middle;
    color: white;
    border: solid 2px white
}

#hn_name {
    display: inline-block;
    vertical-align:middle;
    font-weight: bold;
}

.comment_body {
    padding: 5px;
    padding-left: 20px;
    background-color: rgba(0,0,0,0.05);
    margin: 5px;
    border-radius: 3px;
}

.story {
    margin: 5px;
    padding: 10px;
}

.story_score {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
}

.story_details {
    display: inline-block;
    vertical-align: middle;
}

.failed_auth {
    border: solid red;
}

#bad_auth_msg {
    font-size: 50%;
    color: red;
}

#login_popup {
    background-color: white;
    position: fixed;
    width: 300px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    box-shadow: 0px 2px 5px #000000;
    padding: 10px;
}

#logout_btn {
    float: right;
    margin-right: 10px;
    vertical-align:middle;
    margin-top: 4px;
}
    

/* http://projects.lukehaas.me/css-loaders/ */
.loader {
  font-size: 3px;
  width: 1em;
  height: 1em;
  margin: 20px;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em black, 2em -2em 0 0em black, 3em 0 0 -1em black, 2em 2em 0 -1em black, 0 3em 0 -1em black, -2em 2em 0 -1em black, -3em 0 0 -1em black, -2em -2em 0 0 black;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 black, 2em -2em 0 0.2em black, 3em 0 0 0 black, 2em 2em 0 -1em black, 0 3em 0 -1em black, -2em 2em 0 -1em black, -3em 0 0 -1em black, -2em -2em 0 -1em black;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em black, 2em -2em 0 0 black, 3em 0 0 0.2em black, 2em 2em 0 0 black, 0 3em 0 -1em black, -2em 2em 0 -1em black, -3em 0 0 -1em black, -2em -2em 0 -1em black;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em black, 2em -2em 0 -1em black, 3em 0em 0 0 black, 2em 2em 0 0.2em black, 0 3em 0 0em black, -2em 2em 0 -1em black, -3em 0em 0 -1em black, -2em -2em 0 -1em black;
  }
  50% {
    box-shadow: 0 -3em 0 -1em black, 2em -2em 0 -1em black, 3em 0 0 -1em black, 2em 2em 0 0em black, 0 3em 0 0.2em black, -2em 2em 0 0 black, -3em 0em 0 -1em black, -2em -2em 0 -1em black;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em black, 2em -2em 0 -1em black, 3em 0 0 -1em black, 2em 2em 0 -1em black, 0 3em 0 0 black, -2em 2em 0 0.2em black, -3em 0 0 0 black, -2em -2em 0 -1em black;
  }
  75% {
    box-shadow: 0em -3em 0 -1em black, 2em -2em 0 -1em black, 3em 0em 0 -1em black, 2em 2em 0 -1em black, 0 3em 0 -1em black, -2em 2em 0 0 black, -3em 0em 0 0.2em black, -2em -2em 0 0 black;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 black, 2em -2em 0 -1em black, 3em 0 0 -1em black, 2em 2em 0 -1em black, 0 3em 0 -1em black, -2em 2em 0 0 black, -3em 0em 0 0 black, -2em -2em 0 0.2em black;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em black, 2em -2em 0 0em black, 3em 0 0 -1em black, 2em 2em 0 -1em black, 0 3em 0 -1em black, -2em 2em 0 -1em black, -3em 0 0 -1em black, -2em -2em 0 0 black;
  }
  12.5% {
    box-shadow: 0 -3em 0 0 black, 2em -2em 0 0.2em black, 3em 0 0 0 black, 2em 2em 0 -1em black, 0 3em 0 -1em black, -2em 2em 0 -1em black, -3em 0 0 -1em black, -2em -2em 0 -1em black;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em black, 2em -2em 0 0 black, 3em 0 0 0.2em black, 2em 2em 0 0 black, 0 3em 0 -1em black, -2em 2em 0 -1em black, -3em 0 0 -1em black, -2em -2em 0 -1em black;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em black, 2em -2em 0 -1em black, 3em 0em 0 0 black, 2em 2em 0 0.2em black, 0 3em 0 0em black, -2em 2em 0 -1em black, -3em 0em 0 -1em black, -2em -2em 0 -1em black;
  }
  50% {
    box-shadow: 0 -3em 0 -1em black, 2em -2em 0 -1em black, 3em 0 0 -1em black, 2em 2em 0 0em black, 0 3em 0 0.2em black, -2em 2em 0 0 black, -3em 0em 0 -1em black, -2em -2em 0 -1em black;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em black, 2em -2em 0 -1em black, 3em 0 0 -1em black, 2em 2em 0 -1em black, 0 3em 0 0 black, -2em 2em 0 0.2em black, -3em 0 0 0 black, -2em -2em 0 -1em black;
  }
  75% {
    box-shadow: 0em -3em 0 -1em black, 2em -2em 0 -1em black, 3em 0em 0 -1em black, 2em 2em 0 -1em black, 0 3em 0 -1em black, -2em 2em 0 0 black, -3em 0em 0 0.2em black, -2em -2em 0 0 black;
  }
  87.5% {
    box-shadow: 0em -3em 0 0 black, 2em -2em 0 -1em black, 3em 0 0 -1em black, 2em 2em 0 -1em black, 0 3em 0 -1em black, -2em 2em 0 0 black, -3em 0em 0 0 black, -2em -2em 0 0.2em black;
  }
}
